<div class="tasks-box">
  <div class="tasks">
    <% @tasks.each do |task| %>
      <div class="task">
        <%= link_to task_path(task) do %>
          <div class="task-link">
            <% if task.completed %>
              <i class="fas fa-check task-completed"></i>
            <% else %>
              <i class="far fa-circle"></i>
            <% end %>
            <p><%= task.title %></p>
          </div>
        <% end %>

        <%= link_to task_path(task),
                    method: :delete,
                    data: { confirm: "Are you sure?" } do %>
          <i class="fas fa-trash-alt"></i>
          <% end %>
      </div>
    <% end %>
  </div>
</div>

