@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

@import "pages";
@import "tasks";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
